body {
    --bgcolor: hsl(0, 0%, 98%);
    --pagecolor: hsl(0, 0%, 95%);
}

body.darktheme {
    --bgcolor: hsl(0, 0%, 25%);
    --pagecolor: hsl(0, 0%, 30%);
    color: white; /* text color*/
}

body.darktheme a, body.darktheme .emphasis {
    filter: brightness(3);
}

html, body {
    margin: 0;
}

html {
    overflow-y: scroll;
}

* {
    font-family: arial;
}

body {
    background: var(--bgcolor);
}

table td:nth-child(1) br {
    content: "";
}

table td:nth-child(1) br::after {
    content: ", ";
}

table, table tr {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0;
}

table td, table th {
    display: list-item;
    list-style-type: none;
    border: 1px dotted grey;
    border-collapse: collapse;
}

.page {
    min-height: 99vh;
    margin-bottom: 1vh;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background: var(--pagecolor);
    box-shadow: 2px 2px 3px 1px black;
}

.title {
    text-align: center;
    margin: 0;
}

.emphasis {
    font-style: italic;
    color: #1d2edb;
}

.code {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    color: #33ff00;
    background: black;
    background: radial-gradient(#00071a 30%, #01302c);
    border-radius: 10px;
    padding: 1px 5px;
    font-size: 95%;
}

td.codecell {
    color: #33ff00;
    background: black;
    background: radial-gradient(#00071a 30%, #01302c);
    white-space: nowrap;
    font-size: 80%;
}

.nabox {
    background: #3d3d3d;
    color: black;
    text-align: center;
}

#csstest {
    display: none;
}

.links {
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.links a {
    margin: auto;
}

a#current {
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.highlighted {
    background: blue !important;
    border: 3px solid darkblue !important;
    transition-property: border color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.hide {
    display: none !important;
}

#resetter.hide {
    display: initial !important;
}

#resetter {
    position: fixed;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#resetter.hideResetter {
    cursor: default;
    opacity: 0;
    pointer-events: none;
}

#themeSwitch {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#themeSwitch label {
    cursor: pointer;
    display: block;
    content: url("dark-mode-6682.svg"); /* https://www.iconpacks.net/free-icon/dark-mode-6682.html */
    width: 30px;
    height: 30px;
}

.darktheme #themeSwitch label {
    content: url("dark-mode-6682-invert.svg");
}

#themeSwitch input {
    display: none;
}


@media (prefers-color-scheme: dark){ /* for before js loads */
    body:not(.lighttheme){
        --bgcolor: hsl(0, 0%, 25%);
        --pagecolor: hsl(0, 0%, 30%);
        color: white; /* text color*/
    }
}

@media (min-width: 1000px){
    .page{
        max-width: 60%;
        margin: auto;
    }

    table td, table th {
        display: table-cell;
    }

    table td:nth-child(1) br {
        content: initial;
    }

    table td:nth-child(1) br::after {
        content: initial;
    }

    table td:nth-child(1) {
        text-align: center;
    }

}