body {
    --bgcolor: hsl(0, 0%, 98%);
    --pagecolor: hsl(0, 0%, 95%);
}

@media (prefers-color-scheme: dark){ /* for before js loads */
    body:not(.lighttheme){
        --bgcolor: hsl(0, 0%, 25%);
        --pagecolor: hsl(0, 0%, 30%);
        color: white; /* text color*/
    }
}

body.darktheme{
    --bgcolor: hsl(0, 0%, 25%);
    --pagecolor: hsl(0, 0%, 30%);
    color: white; /* text color*/
}

body.darktheme a, body.darktheme .emphasis{
    filter: brightness(3);
}

html:not(.showgap), html:not(.showgap) body {
    margin: 0;
}

html:not(.noforcescroll) {
    overflow-y: scroll;
}

html:not(.removefont) * {
    font-family: arial;
}

html:not(.nobackground) body {
    background: var(--bgcolor);
}

html:not(.noalignfirstcell) table td:nth-child(1) {
    text-align: center;
}

html:not(.nomaintableborder) table, html:not(.nomaintableborder) table td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0;
}

html:not(.nopage) .page {
    min-height: 99vh;
    margin-bottom: 1vh;
    min-width: 400px;
    max-width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background: var(--pagecolor);
    box-shadow: 2px 2px 3px 1px black;
}

html:not(.notitle) .title {
    text-align: center;
    margin: 0;
}

html:not(.noemphasis) .emphasis {
    font-style: italic;
    color: #1d2edb;
}

html:not(.nocode) .code {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    color: #33ff00;
    background: black;
    background: radial-gradient(#00071a 30%, #01302c);
    border-radius: 10px;
    padding: 1px 5px;
    font-size: 95%;
}

td.codecell {
    color: #33ff00;
    background: black;
    background: radial-gradient(#00071a 30%, #01302c);
    white-space: nowrap;
    font-size: 80%;
}

html:not(.nonotoggle) .notoggle {
    background: #3d3d3d;
    color: black;
    text-align: center;
}

html:not(.notoggleable) .toggle {
    background: #49e28e;
    color: blue;
    cursor: pointer;
    text-align: center;
}

html:not(.notoggleableonclick) .toggle:active {
    background: red;
}

html:not(.donottest) #csstest {
    display: none;
}

html:not(.disableflexbox) .links {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

html:not(.disableflexboxalign) .links a {
    margin: auto;
}

html:not(.nocurrent) a#current {
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

table.compressfirst tr td:nth-child(1) {
    width: 1px;
    white-space: normal;
}

.highlighted {
    background: blue !important;
    border: 3px solid darkblue !important;
    transition-property: border color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.hide {
    display: none !important;
}

#resetter.hide{
    display: initial !important;
}

#resetter {
    position: fixed;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#resetter.hideResetter {
    cursor: default;
    opacity: 0;
}

#themeForm {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#themeForm label{
    cursor: pointer;
    display: block;
    content: url("dark-mode-6682.svg"); /* https://www.iconpacks.net/free-icon/dark-mode-6682.html */
    width: 30px;
    height: 30px;
}

.darktheme #themeForm label{
    content: url("dark-mode-6682-invert.svg");
}

#themeCheckbox{
    display: none;
}
