body {
    --bgcolor: hsl(0, 0%, 98%);
    --pagecolor: hsl(0, 0%, 95%);
}

body.dark-theme {
    --bgcolor: hsl(0, 0%, 25%);
    --pagecolor: hsl(0, 0%, 30%);
    --dark-link: #0025ff;
    --visited-dark-link: purple;
    color: white; /* text color*/
}

body.dark-theme a, body.dark-theme .emphasis {
    filter: brightness(3);
}

body.dark-theme a {
    color: var(--dark-link);
}

body.dark-theme a:visited {
    color: var(--visited-dark-link);
}

body.dark-theme a:active {
    color: red; /* don't override clicking */
}

html, body {
    margin: 0;
}

html {
    overflow-y: scroll;
}

* {
    font-family: arial, serif;
}

body {
    background: var(--bgcolor);
}

table td:nth-child(1) br {
    content: "";
}

table td:nth-child(1) br::after {
    content: ", ";
}

table, table tr {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0;
}

table td, table th {
    display: list-item;
    list-style-type: none;
    border: 1px dotted grey;
    border-collapse: collapse;
}

.page {
    min-height: 99vh;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background: var(--pagecolor);
    box-shadow: 2px 2px 3px 1px black;
}

.title {
    text-align: center;
}

.emphasis {
    font-style: italic;
    color: #1d2edb;
}

.code {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    color: #33ff00;
    background: black;
    background: radial-gradient(#00071a 30%, #01302c);
    border-radius: 10px;
    padding: 1px 5px;
    font-size: 95%;
}

td.code-cell {
    color: #33ff00;
    background: black;
    background: radial-gradient(#00071a 30%, #01302c);
    white-space: nowrap;
    font-size: 80%;
}

.NA-box {
    background: #3d3d3d;
    color: black;
    text-align: center;
}

#css-test {
    display: none;
}

.links {
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.links a {
    margin: auto;
}

a#current {
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.highlighted {
    background: rgb(177, 74, 74) !important;
    border: 3px solid darkblue !important;
    transition: border ease-in-out 1s, background-color ease-in-out 1s;
}

body.dark-theme .emphasis.highlighted, body.dark-theme a.highlighted{
    filter: initial; /* the filter messes with the emphasis */
}

.hide {
    display: none !important;
}

#reset-button.hide {
    display: initial !important;
}

#reset-button {
    position: fixed;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#reset-button.hide-reset-button {
    cursor: default;
    opacity: 0;
    pointer-events: none;
}

#theme-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#theme-button label {
    cursor: pointer;
    display: block;
    content: url("images/dark-mode-6682.svg"); /* https://www.iconpacks.net/free-icon/dark-mode-6682.html */
    width: 30px;
    height: 30px;
}

.dark-theme #theme-button label {
    content: url("images/dark-mode-6682-invert.svg");
}

#theme-button input {
    display: none;
}


@media (prefers-color-scheme: dark){ /* for before js loads */
    body:not(.light-theme){
        --bgcolor: hsl(0, 0%, 25%);
        --pagecolor: hsl(0, 0%, 30%);
        color: white; /* text color*/
    }
}

@media (min-width: 1000px){
    .page{
        max-width: 60%;
        margin: auto;
    }

    table td, table th {
        display: table-cell;
    }

    table td:nth-child(1) br {
        content: initial;
    }

    table td:nth-child(1) br::after {
        content: initial;
    }

    table td:nth-child(1) {
        text-align: center;
    }

}