if pages === undefined
    - pages = {"index": "Pages list not set!"};
if originals === undefined
    - originals = {};
mixin header(title)
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='icon' href='images/icon-html.svg')
        link(rel='stylesheet' href='style.css')
        title= title
        script(src="scripts/shared.js" defer)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/dom4/2.1.6/dom4.max.min.js" integrity="sha512-7+YfSs7MPZo0SmtHjG+W3EDBluxz2XFa0ia2K55Ss/ujtqx0Z91HtpS7stYdqVGcP2TRtwL1ArKE4hvX4hsN6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" defer)
        script(src='scripts/themeToggle.js' defer)
        script(src='scripts/showOriginal.js' defer)
        block
mixin links
    br
    nav.links
        each val, key in pages
            a(
                href = key + ext
                id = filename.endsWith(key + ext) ? "current" : null
            ) #{val}
    br
mixin page
    .flex-side
        - original = originals[filename.slice(0, -ext.length)]
        - target = "original/" + original + ".html"
        if original !== undefined
            #show-original.page.mini-page(data-iframe-target=`${target}`)
                p View the original version of this page!
                p.text-center
                    a(href=`${target}`) Load
    main.page
        block
    .flex-side
