doctype html
html(lang="en")
    include _mixins
    +header("CSS - Web Languages")
        script(src="scripts/CSSToggle.js" async)
    body
        +page
            +links
            h1.title CSS
            br
            p.
                CSS (Cascading Style Sheets) is a web language used to style web pages.
                It is added to a web page by linking a CSS file using the "link" element.
                Every web page on this site contains the following element:
                #[span.code &lt;link rel="stylesheet" href="style.css"&gt;].
                It tells the browser to load the #[span.code style.css] file and apply it to this web page.
            p.
                A #[span.emphasis CSS Rule] is CSS code that alters the presentation of HTML elements.
                #[br]
                A #[span.emphasis CSS Selector] is the part of a CSS Rule that determines which elements are targeted.
                #[br]
            p.
                If an element is targeted by several rules, the rules will be merged.
                If the rules conflict, more specific rules will override less specific rules.
                A rule that makes all text blue will be overridden by a rule that makes a
                specific paragraph black.
                A rule that makes text bold will merge with a rule that makes a specific paragraph red.
            button(id="CSSToggle") Click here to toggle all CSS on this page on/off!
            span#css-test
                strong &emsp;THIS ELEMENT IS HIDDEN WHEN CSS IS ENABLED
            table#css-table
                caption  Examples of CSS in #[span.code style.css]:
                tr
                    th Target
                    th Description
                tr
                    td #[span.code body], #[span.code html]
                    td
                        ul
                            li Sets the font to Arial with #[span.serif Serif] as a fallback font. Removes default margins.
                            li Sets min heights such that the page is always filled.
                            li Scrollbar is always shown to keep the home page aligned with the longer pages
                tr
                    td Tables with IDs #[span.code #css-table] and #[span.code #html-table]
                    td
                        ul
                            li Adds borders. On mobile, some are grey to highlight rows.
                            li On mobile, rows become lists and page breaks commas.
                            li On desktop, the first cell has centered text.
                            li Adds padding.
                            li Sets width to 100%.
                            li Aligns the table caption to the left and adds vertical margins.
                            li The font of the elements in #[span.code #html-table] is set to #[span.consolas Consolas].
                            li Replaces the padding of lists with smaller margins on list items.
                tr
                    td #[span.code .page]
                    td
                        ul
                            li Sets the background color (depending on the theme setting)
                            li Adds a shadow
                            li On desktop, sets max width to 60%
                            li Sets margin to auto (center)
                            li.
                                Adds an one pixel black border. This prevents margins from breaking out and
                                making body bigger than html, since without a border the browser might
                                merge margins into outer elements.
                tr
                    td #[span.code .title]
                    td Centers the page title.
                tr
                    td #[span.code .emphasis]
                    td Makes text italic and blue (or green on dark theme for contrast).
                tr
                    td #[span.code .code]
                    td
                        ul
                            li Radial gradient background, green text
                            li Rounded corners
                            li Padding
                            li Set display to inline-block
                            li Shrinks text to 95%
                            li Sets font to #[span.consolas Consolas] (with other monospace fonts as fallback)
                tr
                    td #[span.code .NA-box]
                    td Sets a gray background, bolds and centers text.
                tr
                    td #[span.code #css-test]
                    td Hides the element for testing the CSS toggle script.
                tr
                    td #[span.code .links]
                    td
                        ul
                            li Horizontally aligns elements inside using flexbox, with equal margins around.
                            li Link with #[span.code #current]
                                ul
                                    li Color is reset to default.
                                    li Clicking is disabled.
                                    li Cursor is set to default instead of pointer.
                                    li Underline is removed.
                            li Adds a bottom border and padding.
                tr
                    td Table cells with class #[span.code .code-cell]
                    td Similar to #[span.code .code]. No wrapping, shrinks text more, no inline-block.
                tr
                    td #[span.code .highlighted]
                    td.
                        Highlights element and adds a border with a transition. Overrides all other rules.
                tr
                    td #[span.code .hide]
                    td Hides element. Overrides all other rules.
                tr
                    td #[span.code #reset-button]
                    td
                        ul
                            li Rounded corners.
                            li Black background and white text.
                            li Fixed position.
                            li Opacity transition.
                            li #[span.code .hide-reset-button]:
                                ul
                                    li Sets opacity to 0. The display property is not a continuum from 0% to 100%, unlike opacity, so it cannot be used with transitions.
                                    li Disables click events
                                    li Disables tabbing to the element.
                                    li Sets cursor to default.
                            li With #[span.code .hide]: keeps display set to inline-block. Both rules have the #[span.code !important] property, but this one has priority because it is more specific.
                tr
                    td #[span.code #theme-button]
                    td
                        ul
                            li Fixed position.
                            li Cannot be selected with double-click like text.
                            li When the checkbox inside is focused by keyboard (detected by JavaScript), a border is applied, white on dark theme.
                            li.
                                The actual checkbox is hidden and has click events disabled. Since labels cannot accept focus, the checkbox is still used
                                for keyboard users.
                            li Padding is added when border is not active to keep position constant.
                            li.
                                The "Dark Theme" text is hidden (disable CSS to see it) with font-size 0 and transparency
                                (in case of browsers that have minimum text sizes).
                            li.
                                Shows #[span.code #inverted-moon-label] if dark theme is on, or else #[span.code #moon-label].
                                Sets the image width and height to 100% of the #[span.code label] container. The images
                                also have width and height attributes set in HTML, which keeps them from filling the page
                                if CSS is disabled or fails to load.
            p.emphasis
                del.
                    Note: All toggleable properties are also set to only do anything if the page root does NOT have a
                    specific "disabler class".
                    These classes are added and removed using JavaScript.
                |
                |
                span This was making it impossible to modify the CSS without invalidating this page, especially after I started using SCSS.