doctype html
html(lang="en")
    include _mixins
    +header("CSS - Web Languages")
        script(src="scripts/CSSToggle.js" async)
    body
        .page
            +links
            h1.title CSS
            br
            p.
                CSS (Cascading Style Sheets) is a web language used to style web pages.
                It is added to a web page by linking a CSS file using the "link" tag.
                Every web page on this site contains the following tag:
                #[span.code &lt;link rel="stylesheet" href="style.css"&gt;].
                It tells the browser to load the #[span.code style.css] file and apply it to this web page.
            p.
                A #[span.emphasis CSS Rule] is CSS code that alters the presentation of HTML tags.
                #[br]
                A #[span.emphasis CSS Selector] is the part of a CSS Rule that determines which tags are targeted.
                #[br]
            p.
                If an element is targeted by several rules, the rules will be merged.
                If the rules conflict, more specific rules will override less specific rules.
                A rule that makes all text blue will be overridden by a rule that makes a
                specific paragraph black.
                A rule that makes text bold will merge with a rule that makes a specific paragraph red.
            button(id="CSSToggle") Click here to toggle all CSS on this page on/off!
            span#css-test
                strong &emsp;THIS ELEMENT IS HIDDEN WHEN CSS IS ENABLED
            p.
                Examples of CSS in #[span.code style.css]:
            table#css-table
                tr
                    th Target
                    th Description
                tr
                    td body, html
                    td
                        ul
                            li Sets the font to Arial with Serif as a fallback font. Removes default margins.
                            li Sets min heights such that the page is always filled.
                            li Scrollbar is always shown on html tag to keep the home page aligned with the longer pages
                tr
                    td Tables and components of tables with IDs css-table and toggle-table
                    td
                        ul
                            li Adds borders. On mobile, some are grey to highlight rows.
                            li On mobile, rows become lists and page breaks commas.
                            li On desktop, the first cell has centered text.
                            li Adds padding.
                            li Sets width to 100% of .page.
                            li Sets second cell of css-table to 100% width, which minimizes the first cell on desktop.
                tr
                    td "page" class
                    td
                        ul
                            li Sets the background color (depending on the theme setting)
                            li Adds a shadow
                            li On desktop, sets max width to 60%
                            li Sets margin to auto (center)
                            li Adds an one pixel black border. This prevents margins from breaking out and
                            | making body bigger than html, since without a border the browser might
                            | merge margins into outer elements.
                tr
                    td "title" class
                    td Centers the page title.
                tr
                    td "emphasis" class
                    td Makes text italic and blue (or green on dark theme for contrast).
                tr
                    td "code" class
                    td
                        ul
                            li Radial gradient background, green text
                            li Rounded corners
                            li Padding
                            li Set display to inline-block
                            li Shrinks text to 95%
                            li Sets font to Consolas (with other monospace fonts as fallback)
                tr
                    td "NA-box" class.
                    td Sets a gray background, bolds and centers text.
                tr
                    td ID "css-test"
                    td Hides the element for testing the CSS toggle script.
                tr
                    td "links" class
                    td
                        ul
                            li Horizontally aligns elements inside using flexbox, with equal margins around.
                            li Link with "current" ID
                                ul
                                    li Color is reset to default.
                                    li Clicking is disabled.
                                    li Cursor is set to default instead of pointer.
                                    li Underline is removed.
                            li Adds a bottom border and padding.
                tr
                    td Table cells with class "code-cell"
                    td Similar to "code" class. No wrapping, shrinks text more, no inline-block.
                tr
                    td "highlighted" class
                    td Highlights element and adds a border with a transition. Overrides all other rules.
                tr
                    td "hide" class
                    td Hides element. Overrides all other rules.
                tr
                    td "reset-button" id
                    td
                        ul
                            li Rounded corners.
                            li Black background and white text.
                            li Fixed position.
                            li Opacity transition.
                            li "hide-reset-button" class:
                                ul
                                    li Sets opacity to 0. The display property is not a continuum from 0% to 100%, unlike opacity, so it cannot be animated.
                                    li Disables click events
                                    li Disables tabbing to the element.
                                    li Sets cursor to default.
                            li "hide" class is overridden. Since this rule is further down in #[span.code style.css], it has priority.
                tr
                    td "theme-button" id
                    td
                        ul
                            li Fixed position.
                            li Cannot be selected with double-click like text.
                            li When the checkbox inside is focused by keyboard (detected by JavaScript), a border is applied, white on dark theme.
                            li The actual checkbox is hidden and has click events disabled. Since labels cannot accept focus, the checkbox is still used
                            | for keyboard users.
                            li Padding is added when border is not active to keep position constant.
                            li The "Dark Theme" text is hidden (disable CSS to see it) with font-size 0 and transparency
                            | (in case of browsers that have minimum text sizes).
                            li A background image of a moon is added, inverted on dark theme.
            p.emphasis
                span.strikethrough.
                    Note: All toggleable properties are also set to only do anything if the page root does NOT have a
                    specific "disabler class".
                    These classes are added and removed using JavaScript.
                |
                |
                span This was making it impossible to modify the CSS without invalidating this page, especially after I started using SCSS.