doctype html
html(lang='en')
    include _mixins
    +header('Web Languages')
    body
        +page
            +links
            h1.title Home
            br
            p This is a simple website about #[span.emphasis web languages].
            p
                span.
                    I made the first version of this website in 2019 for a school project about HTML and CSS.
                    The original version had all sorts of issues - ugly colors and gradients,
                    faking buttons with CSS, strange fonts, no dark theme, etc.
                br
                span I decided to redesign it to learn more about web development tools and concepts, such as:
                ul
                    li Cross-browser compatibility
                    li Build automation
                    li Accessibility
                    li Preprocessors
                    li Postprocessors
                    li Polyfills
                    li Node and npm
                    li CSS quirks
