$mobile-width: 1000px;
$bg-color: hsl(0, 0%, 98%);
$bg-color-dark: hsl(0, 0%, 25%);
$page-color: hsl(0, 0%, 95%);
$page-color-dark: hsl(0, 0%, 30%);
$dark-link: #0025ff;
$visited-dark-link: purple;
$font-default: arial, serif;
$font-code: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono;
html {
    margin: 0;
    body {
        margin: 0;
        overflow-y: scroll;
        font-family: $font-default;
        * {
            font-family: inherit;
        }
        background: $bg-color;
        &.dark-theme {
            background: $bg-color-dark;
            color: white; /* text color*/
            a, .emphasis {
                filter: brightness(3);
                &.highlighted {
                    filter: initial;
                }
            }
            a {
                color: $dark-link;
                &:visited {
                    color: $visited-dark-link;
                }
                &:active {
                    color: red; /* don't override clicking */
                }
            }
        }
        table {
            &, tr {
                border: 2px solid black;
                border-collapse: collapse;
                margin: 0;
            }
            td, th {
                display: list-item;
                list-style-type: none;
                border: 1px dotted grey;
                border-collapse: collapse;
                &:nth-child(1) br { /* on mobile we use commas instead of newlines */
                    content: "";
                    &::after{
                        content: ", ";
                    }
                }
            }
            @media (min-width: $mobile-width){ /* for desktops */
                td, th {
                    border: 1px solid black;
                    display: table-cell;
                    &:nth-child(1) br {
                        content: initial;
                        &::after{
                            content: initial;
                        }
                    }
                }
                td:nth-child(1) {
                    text-align: center;
                }
            }
        }
        .page {
            @media (min-width: $mobile-width){
                max-width: 60%;
                margin: auto;
            }
            min-height: 99vh;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
            background: $page-color;
            @at-root body.dark-theme .page {
                background: $page-color-dark;
            }
            box-shadow: 2px 2px 3px 1px black;
        }
        .title {
            text-align: center;
        }
        .emphasis {
            font-style: italic;
            color: #1d2edb;
        }
        & { // code styles
            .code {
                display: inline-block;
                max-width: 100%;
                word-wrap: break-word;
                border-radius: 10px;
                padding: 1px 5px;
                font-size: 95%;
            }
            .code-cell, .code {
                color: #33ff00;
                background: black;
                background: radial-gradient(#00071a 30%, #01302c);
                font-family: $font-code, $font-default;
            }
            .code-cell {
                white-space: nowrap;
                font-size: 80%;
            }
        }
        .NA-box {
            text-align: center;
            font-weight: bold;
        }
        #css-test {
            display: none;
        }
        .links {
            display: flex;
            flex-shrink: 0;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            a {
                margin: auto;
                &#current {
                    pointer-events: none;
                    cursor: default;
                    color: inherit;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
        @at-root .highlighted {
            background: rgb(177, 74, 74) !important;
            border: 3px solid darkblue !important;
            transition: border ease-in-out 1s, background-color ease-in-out 1s;
        }
        @at-root .hide {
            display: none !important;
        }
        #reset-button {
            position: fixed;
            top: 3px;
            left: 3px;
            margin: 10px;
            padding: 5px;
            background: black;
            color: white;
            border-radius: 5px;
            transition: opacity 0.5s ease-in-out;
            opacity: 1;
            &.hide-reset-button {
                cursor: default;
                opacity: 0;
                pointer-events: none;
            }
            &.hide {
                display: initial !important;
            }
        }
        #theme-button {
            padding: 3px;
            user-select: none;
            &.focus-visible-within {
                border-width: 3px;
                border-style: solid;
                border-radius: 10px;
                border-color: black;
                padding: 0;
                @at-root .dark-theme #theme-button.focus-visible-within {
                    border-color: white;
                }
            }
            position: fixed;
            bottom: 5px;
            right: 5px;
            #theme-checkbox {
                position: absolute;
                pointer-events: none;
                z-index: -1;
                opacity: 0;
            }
            label {
                cursor: pointer;
                display: block;
                font-size: 0; /* https://www.iconpacks.net/free-icon/dark-mode-6682.html */
                background-image: url("images/dark-mode-6682.svg");
                width: 30px;
                height: 30px;
                filter: blur(0.6px);
                @at-root #theme-checkbox:checked + label {
                    background-image: url("images/dark-mode-6682-invert.svg");
                }
            }
        }
    }
}
